@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .app, #root, #root > div {

  height: 100%;
}

/* global-rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html {
  scroll-behavior: smooth;
}


body {
  padding: 0;
  margin: 0;
}

[dir="rtl"] {
  text-align: right;
}

[dir="ltr"] {
  text-align: left;
}

.content {
  min-height: calc(100% - 52px);
}

span.fui-Avatar {
  margin: 0 8px;
}

.react-tel-input {
  .form-control {
    width: 350px !important;
    padding: 10.5px 14px 10.5px 58px !important;
  }
  .special-label {
    display: none !important;
  }
  input {
    width: 100% !important;
  }
}

.chips {
  &:focus {
    box-shadow: none;
  }
  .p-chips-multiple-container {
    li {
      &:not(.p-chips-input-token) {
        border-radius: 8px;
        background-color: #e0e0e0;
        margin-right: 5px;
        padding: 2px 4px;
        svg {
          margin: 0 2px;
        }
      }
    }
  }
}

.p-component {
  padding: 8px;
}
